.secondPageWrap {
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 3;
}
.wrap {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.posBgFirstPage, .posBgSecondPage {
    position: fixed;
    height: 100rem;
    width: 100%;
    left: 0;
}
@-webkit-keyframes blurChange {
    0% { -webkit-filter: blur(0); }
    50% { -webkit-filter: blur(1px); }
    100% { -webkit-filter: blur(2px); }
}
.posBgFirstAnimateEnd {
    -webkit-filter: blur(2px);
}
.posBgFirstAnimate {
	-webkit-animation: blurChange .5s linear;
}
.posBgFirstPage {
    background: #1b52b2 url('../res/bg-flight.jpg') no-repeat 0 0;
    background-size: 100% 100%;
    z-index: 3;
}
.posBgSecondPage {
    background:url('../res/bg-flight-2.jpg') no-repeat 0 0;
    background-size: 100% 100%;
    z-index: 1;
}
.posAbsBg, .posAbsSmsPage {
    position: absolute;
    left: 0;
    overflow: hidden;
    width: 100%;
}
.posAbsBg {
    /*
    overflow-y: scroll;
    background: url('../res/bg-flight.jpg') no-repeat 0 0 fixed;
    background-size: 100% 100%;
    */
    z-index: 4;
}
.posAbsSmsPage {
    /*
    background:url('../res/bg-flight-2.jpg') no-repeat 0 0 fixed;
    background-size: 100% 100%;
    */
    z-index: 2;
}
div.fr {
    float: right;
}
.title {
    height: 10rem;
    width: 100%;
    position: relative;
    color: #fff;
    overflow: hidden;
}
.font-ontime, .font-airchina {
    position: absolute;
    top: 1.5rem;
}
.font-flag {
    text-align: center;
    font-family: 'roboto';
    font-size: 4.8rem;
    margin-top: 1.5rem;
}
.font-ontime {
    right: 2rem;
    font-family: '黑体';
    font-size: 3.6rem;
    line-height: 6.5rem;
    margin-right: 1rem;
    color: #97ff99;
}
.font-onlate {
    color: #f00;
}
.font-airchina {
    left: 2rem;
    top: 0;
}
.title div.font-airchina img {
    width: 8rem;
    height: 8rem;
}


.flightInfo {
    width: 100%;
}

.boxs {
    padding: 0 10rem;
    position: relative;
}

.boxs p {
    font-family: '黑体';
    font-size: 2.4rem;
    color: #fff;
    margin-bottom: .5rem;
}
.boxs p.targetPlace {
    font-weight: bold;
}
.boxs p.targetPlan {
    opacity: .5;
}
.boxs p.abordTime {
    font-weight: bold;
}
.boxs p.abordTimeComment {
    opacity: .5;
}
.boxs .posIcon {
    color:#fff;
    position: absolute;
    right: 12rem;
    top: 0;
    font-size: 7rem;
}
.boxs .localWeather {
    font-family: 'roboto';
    position: absolute;
    right: 11rem;
    top: 9rem;
    font-size: 4rem;
}
.boxs .localWeather span {
    font-size: 3.5rem;
}
.abordTimeBig, .targetName {
    color:#fff;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 3.5rem;
    font-size: 11rem;
    font-family: 'roboto';
}
.boxs .targetName {
    font-size: 11rem;
    margin-left: 0;
}



.food li {
    height: 22rem;
}
.fourInfos {
    color:#fff;
    text-align: center;
    padding-bottom: 2.5rem;
    margin-top: 2rem;
}
.fourInfos li img {
    width: 100%;
    height: 100%;
}
.fourInfos li {
    width: 19.7rem;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 4%;
    background: url('../res/libg.png') 0 0 repeat;
}
.fourInfos li:nth-of-type(odd) {
    margin-right: 4%;
}
.fourInfos li:first-child p:first-child {
    margin-top: 2rem;
}
.fourInfos li:first-child {
    text-align: center;
    font-size: 20px;
    font-family: '黑体';
}
.fourInfos .icon_food , .fourInfos .icon_movie {
    font-size: 10rem;
    margin-bottom: 1rem;
    text-align: center;
}


.movie {
}
.movie li:first-child div:first-child {
    margin-top: 3.5rem;
}
.movie li img {
    height: 19.5rem;
    display: block;
    width: 100%;
}
.movie li p {
    background: #6186c8;
    height: 5rem;
    font-size: 2rem;
    line-height: 5rem;
}
.movie li {
    height: 24.5rem;
}


.smsBox {
    border: 3px solid #fff;
    text-align: center;
    margin: 0 auto;
    width: 88%;
    height: 7.5rem;
    font-size: 2.4rem;
    line-height: 7rem;
}
.smsBox a {
    text-decoration: none;
    color: #fff;
}
.abordGateInfos {
    position: relative;
    text-align: center;
    margin: 0 auto;
}
.nextPageWrap {
    width: 100%;
    height: 12rem;
}
.nextPage {
	-webkit-animation: slideUp 1s infinite linear;
    position: absolute;
    left: 50%;
    margin-left: -2.5rem;
    top: 0;
}
.abordGateInfos a {
    text-decoration: none;
    color: #fff;
    text-align: center;
}
.phoneNumber input, .phoneNumber button {
    background: none;
    border: none;
    font-size: 2.4rem;
    color: #fff;
    height: 100%;
    line-height: 100%;
}
.phoneNumber {
    color:#fff;
}
.phoneNumber input {
    float: left;
    width: 70%;
    text-indent: 1rem;
}
.phoneNumber button {
    float: right;
    width: 30%;
    border-left: 3px solid #fff;
}

.gateHeader {
    padding-top: 2rem;
    position: relative;
    height: 17.4rem;
    color: #fff;
    text-align: center;
}
.gateNum {
    font-family: "robotoThin";
    font-size: 12rem;
    position: absolute;
    left: 1.2rem;
    top: 0;
}
.gateName, .otherFlights {
    font-family: '黑体';
    font-size: 4.8rem;
}
.otherFlights {
    font-size: 3.6rem;
}

.flightsList {
    margin: 0 auto;
    text-align: center;
}
.flightsList li a {
    text-decoration: none;
}
.flightsList li {
    margin-bottom: 1rem;
    background: #fff;
    display: inline-block;
    width: 20rem;
    height: 20rem;
    position: relative;
}
.flightsList li:nth-of-type(odd) {
    margin-right: 1rem;
}
.timeInfo {
    position: absolute;
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    bottom: 0;
    left: 0;
    font-size: 2.4rem;
    font-family: '黑体';
    text-align: center;
}
.onTime {
    background: #2CCAAE;
    color: #000;
}
.onLate {
    background: #ff3433;
    color: #fff;
}
.flyIcon img {
    width: 4rem;
    height: 4rem;
}
.flyFlag, .placeName, .placeTarget {
    font-size: 3rem;
    font-family: '黑体';
    color: #000;
    font-weight: bold;
}
.flyFlag {
    vertical-align: text-bottom;
}
.placeTarget {
    color: #999;
    font-size: 2rem;
}
.placeName {
    font-size: 5rem;
    margin-top: 1rem;
}
.spaceLine {
    height: 1px;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
    width: 86%;
    margin: 0 auto 4.5rem;
    clear: both;
    background: #fff;
    opacity: 0.5;
}
@-webkit-keyframes slideUp {
    0% { top: 0; }
    50% { top: 2rem; }
    100% { top: 0; }
}
.alphaBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 1000px;
    height: 1000px;
    background: red;
    background-size: 100% 100%;
    opacity: .5;
}
/* css3 animations */
@-webkit-keyframes topNagetiveSlide {
    0% { top: -9999px; }
    50% { top: -300px; }
    100% { top: 0; }
}
.topNagetiveSlide {
    -webkit-animation: topNagetiveSlide .5s linear;
}
.topSlide {
    -webkit-animation: topSlide .5s linear;
}
.topEnd {
    top: 0;
}
@-webkit-keyframes topSlide {
    0% { top: 9999px; }
    50% { top: 300px; }
    100% { top: 0; }
}
